version: '3'
services:
    db:
        image: postgres
    web:
        build: .
        command: python code/manage.py makemigrations
        command: python code/manage.py migrate
        command: python code/manage.py runserver 0.0.0.0:8000
        volumes:
        - ./backMessenger:/code
        ports:
        - "8000:8000"
        depends_on:
        - db