version: '3'
services:
    db:
        image: postgres
    web:
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
        - ./backMessenger:/code
        ports:
        - "8000:8000"
        depends_on:
        - migration

    migration:
        image: .
        command: python manage.py migrate
        volumes:
            - ./backMessenger:/code
        depends_on:
            - db